.btn1 {
  margin: 10px;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.heading-date {
  display: flex;
}
@media only screen and (max-width: 600px) {
  .btn1 {
    margin: 10px;
    font-size: 0.3rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .btn1 {
    margin: 15px;
    font-size: 0.5rem;
  }
}
@media only screen and (min-width: 901px) {
  .btn1 {
    margin: 20px;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1500px) {
  .btn1 {
    margin: 15px;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1501px) {
  .btn1 {
    margin: 20px;
    font-size: 1rem;
  }
}
